/* background image */
html {
    /* background-image: url("/imgs/index_background.jpg"); */
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    background-color: #25283D;
}

body {
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    /* background-image: url("/imgs/index_background.jpg"); */
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    background-color: #25283D;
}

/* #navRight {
    position: fixed;
    bottom: 50%;
    right: 5%;
}

#navLeft {
    position: fixed;
    bottom: 50%;
    left: 5%;
} */

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

#navLeft:hover {
    animation: jump 0.5s;
}

#navRight:hover {
    animation: jump 0.5s;
}

/* for main contents */
#aboutUsContainer {
    display: block;
    background-color: lightblue;
    color: white;
    opacity: 0.8;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: fit-content;
    height: fit-content;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 15px;
    background-color: #2E2E3A;
}

* h1, h3 {
    color: #00A7E1;
}

* p {
    color: #DCF763
}

#aboutUsContainer > p {
    padding: 10px;
    color: #DCF763;
}

#title {
    font-size: 80px;
    position: relative;
    left: 5vw;
    text-transform: uppercase;
    margin:0;
    padding:0;
}

#index_container>* {
    grid-row: auto;
    grid-column: auto;
    padding: 5px;
    background-color: #2E2E3A;
    color: white;
    opacity: 0.8;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: fit-content;
    height: 300px;
    overflow: auto;
    border-radius: 15px;
}

.button {
    background-color: transparent;
    border: 2px solid white;
    color: green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #FF9B42;
}

/* for responsive layout */
@media (width > 900px) {
    #index_container {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-bottom: 10px;
    }
    #aboutUsContainer {
        display: block;
        background-image: url("/imgs/index_background.jpg");
            /* background-repeat:no-repeat; */
            background-size: 100% 100%;
        color: white;
        opacity: 0.8;
        display: block;
        width: calc(100% - 20vw);
        height: 100%;
        margin-left: 10vw;
        margin-right: 10vw;
        border-radius: 15px;
    }
    #aboutUsContainer > p {
        padding: 10px;
        width: 45%;
        color: midnightblue;   
        text-align: center;
    }
}

@media (width <=900px) {
    #index_container {
        display: grid;
        height: auto;
        gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-bottom: 10px;
    }
    #aboutUsContainer {
        display: block;
        background-image: url("/imgs/index_background.jpg");
            background-repeat:no-repeat;
            background-size: 100% 100%;
        color: white;
        opacity: 0.8;
        display: block;
        width: calc(100% - 20vw);
        height: 100%;
        margin-left: 10vw;
        margin-right: 10vw;
        border-radius: 15px;
    }
    #aboutUsContainer > p {
        padding: 10px;
        width: 45%;
        color: midnightblue;   
        text-align: center;
    }
}


/* ---------------------------------- */
/* ------------ Our Team ------------ */
/* ---------------------------------- */
.member-pics {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.member-cards:hover {
    box-shadow: 0 0px 13px #DCF763;
    border-radius: 14px;
}

.member-description {
    font-size: 11pt;
}

.member-cards:link {
    text-decoration: none;
}

.member-cards:visited {
    text-decoration: none;
}

.member-description {
    color: rgb(187, 187, 187);
}

@media (width > 1100px) {
    #ourTeamContainer {
        background-color: #2E2E3A;
        padding-top: 40px;
        font-weight: normal;
        display: grid;
        height: 600px;
        width: 100vw;
        grid-template-columns: 275px 275px 275px;
        grid-template-rows: 110px 400px;
        padding-top: 50px;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .member-cards {
        padding: 25px;
        height: 280px;
        width: 200px;
        color: black;
        background-color: #454557;
        border-style: solid;
        border-color: #2f2f3c;
        border-radius: 14px;
        border-width: 1px;
        box-shadow: 0 0px 10px rgba(24, 24, 24, 0.1);
    }

    #our-team {
        grid-row: 1;
        grid-column: 1 / span 3;
    }

    #member1 {
        grid-row: 2;
        grid-column: 1;
    }

    #member2 {
        grid-row: 2;
        grid-column: 2;
    }

    #member3 {
        grid-row: 2;
        grid-column: 3;
    }
}

@media (width <=1100px) {
    #ourTeamContainer {
        margin-top: 40px;
        font-weight: normal;
        background-color: #2E2E3A;
        display: grid;
        /* height: 800px; */
        width: 100vw;
        grid-template-columns: 350px;
        padding-top: 40px;
        padding-bottom: 60px;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .member-cards {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 33% 67%;
        margin: 12px;
        padding: 20px;
        height: 90px;
        width: 300px;
        background-color: #454557;
        color: black;
        border-style: solid;
        border-color: #2f2f3c;
        border-radius: 14px;
        border-width: 1px;
        box-shadow: 0 0px 10px rgba(24, 24, 24, 0.1);
    }

    .member-pics {
        grid-column: 1;
        width: 100%;
        height: auto;

    }

    .member-name {
        grid-column: 2;
    }

    .member-description {
        grid-column: 2;
    }

}

/* ---------------------------------- */
/* ------------- Footer ------------- */
/* ---------------------------------- */

#footer {
    background-color: rgb(18, 19, 30);
    display: flex;
    height: 50px;
    width: 100%;
    position: absolute;
    color: rgb(232, 232, 232);
    text-align: center;
    font-weight: lighter;
    font-size: 10pt;
    justify-content: center;
    align-items: center;
}

/* for linkedin scraper */
.course {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
}

.course img {
    margin-right: 10px;
}

.course h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.course p {
    margin: 0;
}